
  h1 {
    color: #42a5f5;
  }
  h2 {
    color: #80d6ff;
  }
  body {
    /*background-color: #dcdcdc*/
    font-family: 'Open Sans', sans-serif;
  }
  .menu {
    border-bottom:solid 1px black;
    padding: 10px;
    text-align: center;
  }
  .menu a {
    color:black;
    text-decoration: none;
    padding: 8px;
    background-color: #dcdcdc;
    border-radius: 24px;

  }
  .menu a:hover {
    background-color: #80d6ff;
  }
  .half{
    width: 45%;
    display: inline-block;
  }
