header { 
		margin-left: 0%;
		margin-right: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
		padding-bottom: 0%;
		
		background-image: url(img/zellamsee.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}

body 
	{
		
		background-color:#647ca1;
		color: white;
		}

h1	{
		font-family: 'Outfit', sans-serif;
		font-size: 200px;
		}
	
h2 {
		font-family: 'Outfit', sans-serif;
		font-size: 50px;
		margin-top: 0%;
		}
		
h3 {
		font-family: 'Outfit', sans-serif;
		font-size: 40px;
		}
		
h4 {
		font-family: 'Outfit', sans-serif;
		font-size: 30px;
		}
		
p {
		font-family: 'Outfit', sans-serif;
		font-size: 20px;
		}