body 
	{
		background-color:#ffcccc;
		font-family: 'Open Sans', sans-serif;
		padding: 5vw;
	}
img {
  width: 200px,
  height: auto
}

h1  {
	color: black;
	font-family: 'Outfit', sans-serif;
	font-size: 4rem;
	}
h2   {
	color: black;
	font-family: 'Outfit', sans-serif;
	font-size: 2rem;
	}

a {
  color: black;
}

p {
  color: black;
	font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
