body 
	{
		background-color:#222222;
		font-family: 'Open Sans', sans-serif;
		padding: 5vw;
	}
img {
  width: 200px,
  height: auto,
	float: right,
	float: top
}

h1  {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	}
h2   {
	color: #FFD801;
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	}

a {
  color: white;
}

p {
  color: white;
	font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}
#header
	{ 
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 200px;
		padding-bottom: 200px;
		
		background-image: url(img/MarinasMagicBackground.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
#main
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 100px;
		
		background-color:black;
		color: white;
	}
	
	
#footer
	{
	background-color:white;
	color: black;

	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
	
	}
