body 
	{
		background-color:#222222;
		color: white;
		padding: 5vw;
	}
img {
  width: 10%;
  height: auto;
	position: absolute;
        top: 100px;
        right: 10px;
    }


h1  {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 6rem;
	}
h2   {
	color: #FFD801;
font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 25%;
	}

a {
  color: white;
}

p {
  color: white;
font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

ul {
  color: white;
font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
#header
	{ 
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 30px;
		margin-bottom: 50px;
		padding-bottom: 200px;

	}
	
#main
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 100px;
		
		background-color:black;
		color: white;
	}
	
	
#footer
	{
	background-color:white;
	color: #FFD801;

	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
	
	}
